
// First heading level 
h1
{
  font-size: clamp(3rem ,7.5vw , 6rem) !important; 
  font-weight: $fw-xb;
}

// Second heading level 
h2
{
  font-size: clamp(1.5rem ,7.5vw , 3rem) !important;
  font-weight: $fw-b;
  line-height: 1.2;
}

// third heading level 
h3
{
  font-size: 1.15rem!important;
  font-weight: $fw-n;
  line-height: 1.8;
}

// fourth heading level 
h4{
  font-weight: $fw-n;
  font-size: 1rem;
  line-height: 1.8;
}

// Fifth heading level 
h5
{
  font-size: 0.85rem;
  font-weight: $fw-n;
  line-height: 1.8;
}

//Bottons
.btn
{
  background: no-repeat;
  border: none;
  display: inline-block;
  outline: none;
  cursor: pointer;

  &.btn-white
  {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: $fw-m;
    border: 1.5px solid #fff;
    border-radius: 35px;
    padding: 0.8rem 1.3rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include bazier-transition;

    &::before
    {
      content: "";
      background: #fff;
      width: 150px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      @include bazier-transition;
      clip-path: ellipse(5px 5px at 10% 90%);
      z-index: -1;
    }

    &:hover
    {
      color: $primary-color;
      &::before{
        clip-path: ellipse(130px 130px at 18% 80%);
      }
    }
  }

  &.btn-dark
  {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: $fw-m;
    border: 1.5px solid $primary-color;
    border-radius: 35px;
    padding: 0.8rem 1.3rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include bazier-transition;

    &::before
    {
      content: "";
      background: $primary-color;
      width: 150px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      @include bazier-transition;
      clip-path: ellipse(5px 5px at 10% 90%);
      z-index: -1;
    }

    &:hover
    {
      color: #fff;
      &::before{
        clip-path: ellipse(130px 130px at 18% 80%);
      }
    }
  }

  &.btn-purple
  {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: $fw-m;
    border: 1.5px solid #fff;
    border-radius: 35px;
    padding: 0.8rem 2.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include bazier-transition;

    &::before
    {
      content: "";
      background: $secondary-color;
      width: 150px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      @include bazier-transition;
      clip-path: ellipse(5px 5px at 10% 90%);
      z-index: -1;
    }

    &:hover
    {
      color: #fff;
      border: 1.5px solid $secondary-color;
      &::before{
        clip-path: ellipse(130px 130px at 18% 80%);
      }
    }
  }
}

//Paragraphe

p{
  color: $gray;
  padding: 1rem 0 0 0;
  font-size: 0.87rem;
  line-height: 1.8;
}


blockquote
{
  font-size: 1.5rem;
  font-family: $ff-s;
  line-height: 1.4;
  margin: 1rem 0;
}