
//High level colors

$primary-color:#2a2d2e;
$secondary-color:#7443ff;
$gray:rgb(99, 102, 102);

//Low level colors

$light-blue:#43d5ff;
$light-green:#acda93;
$orange:#feb646;
$pink:#ff8288;

// Gradient Color

$first-color:#aeecea;
$second-color:#f9d7e3;
