@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

// Font Family

$ff-ss: 'Poppins',sans-serif;
$ff-s: 'Vidaloka',serif;

// Font Weight

$fw-l : 200;  // Light
$fw-n : 400;  // Normal
$fw-m : 500;  // Medium
$fw-b : 700;  // Bold
$fw-xb : 800;  // Extra Bold


// Text configuration

@mixin text-config($fs,$color,$tt,$lh,$ff,$fw)
{
  font-size: $fs;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff;
  font-weight: $fw;
}

